USE [master]
GO
/****** Object:  Database [LibraryMirzayeva]    Script Date: 16.02.2023 20:14:32 ******/
CREATE DATABASE [LibraryMirzayeva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryMirzayeva', FILENAME = N'C:\Programming\DataBase\LibraryMirzayeva\LibraryMirzayeva.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryMirzayeva_log', FILENAME = N'C:\Programming\DataBase\LibraryMirzayeva\LibraryMirzayeva_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryMirzayeva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryMirzayeva]
GO
/****** Object:  Table [dbo].[AuthorsTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorsTable](
	[PersonalNumberAuthor] [int] IDENTITY(1,1) NOT NULL,
	[SurnameAuthor] [nvarchar](50) NOT NULL,
	[NameAuthor] [nvarchar](50) NOT NULL,
	[MiddlenameAuthor] [nvarchar](50) NOT NULL,
	[DateofbrichAuthor] [date] NOT NULL,
	[DateofendAuthor] [date] NULL,
 CONSTRAINT [PK_AuthorsTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTable](
	[PersonalNumberBook] [int] IDENTITY(1,1) NOT NULL,
	[NameBook] [nvarchar](50) NOT NULL,
	[InstanceBook] [int] NOT NULL,
	[pnPublishingHouse] [int] NOT NULL,
	[DatePublishingBook] [date] NOT NULL,
	[QuantityPublishingBook] [int] NOT NULL,
	[pnCategory] [int] NOT NULL,
	[pnGo] [int] NOT NULL,
	[pnCash] [int] NOT NULL,
	[LikeBook] [int] NOT NULL,
	[DislikeBook] [int] NOT NULL,
	[pnAuthor] [int] NOT NULL,
	[pnImage] [int] NULL,
 CONSTRAINT [PK_BookTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashTable](
	[PersonalNumberCash] [int] IDENTITY(1,1) NOT NULL,
	[TitleCash] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CashTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberCash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTable](
	[PersonalNumberCategory] [int] IDENTITY(1,1) NOT NULL,
	[TitleCategory] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoTable](
	[PersonalNumberGo] [int] IDENTITY(1,1) NOT NULL,
	[TitleGo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GoTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberGo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryTable](
	[pnTiket] [int] NOT NULL,
	[pnBook] [int] NOT NULL,
 CONSTRAINT [PK_HistoryTable] PRIMARY KEY CLUSTERED 
(
	[pnTiket] ASC,
	[pnBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagebookTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagebookTable](
	[PersonalnumberImage] [int] NOT NULL,
	[ImageImage] [image] NOT NULL,
 CONSTRAINT [PK_ImagebookTable] PRIMARY KEY CLUSTERED 
(
	[PersonalnumberImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublishingHouseTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublishingHouseTable](
	[PersonalNumberPublishingHouse] [int] IDENTITY(1,1) NOT NULL,
	[TitlePublishingHouse] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PublishingHouseTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberPublishingHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTable](
	[PersonalnumberRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RoleTable] PRIMARY KEY CLUSTERED 
(
	[PersonalnumberRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketTable](
	[PersonalNumberTicket] [int] IDENTITY(1,1) NOT NULL,
	[DateStartTicket] [date] NOT NULL,
	[DateEndTicket] [date] NULL,
 CONSTRAINT [PK_TicketTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiketBookTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiketBookTable](
	[pnTicket] [int] NOT NULL,
	[pnBook] [int] NOT NULL,
 CONSTRAINT [PK_TiketBookTable] PRIMARY KEY CLUSTERED 
(
	[pnTicket] ASC,
	[pnBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 16.02.2023 20:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[PersonalNumberUser] [int] IDENTITY(1,1) NOT NULL,
	[SurnameUser] [nvarchar](50) NOT NULL,
	[NameUser] [nvarchar](50) NOT NULL,
	[MiddlenameUser] [nvarchar](50) NULL,
	[pnTicket] [int] NOT NULL,
	[AddressUser] [nvarchar](100) NOT NULL,
	[PhoneUser] [nvarchar](11) NOT NULL,
	[UserImage] [image] NULL,
	[LoginUser] [nvarchar](50) NOT NULL,
	[PasswordUser] [nvarchar](50) NOT NULL,
	[pnRole] [int] NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[PersonalNumberUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuthorsTable] ON 

INSERT [dbo].[AuthorsTable] ([PersonalNumberAuthor], [SurnameAuthor], [NameAuthor], [MiddlenameAuthor], [DateofbrichAuthor], [DateofendAuthor]) VALUES (1, N'Волкова', N'Алиса', N'Тимофеевна', CAST(N'1936-02-15' AS Date), CAST(N'2020-09-02' AS Date))
INSERT [dbo].[AuthorsTable] ([PersonalNumberAuthor], [SurnameAuthor], [NameAuthor], [MiddlenameAuthor], [DateofbrichAuthor], [DateofendAuthor]) VALUES (2, N'Максимов', N'Павел', N'Арсентьевич', CAST(N'1936-02-16' AS Date), CAST(N'2020-09-03' AS Date))
INSERT [dbo].[AuthorsTable] ([PersonalNumberAuthor], [SurnameAuthor], [NameAuthor], [MiddlenameAuthor], [DateofbrichAuthor], [DateofendAuthor]) VALUES (3, N'Грачев', N'Алексей', N'Артёмович', CAST(N'1936-02-17' AS Date), CAST(N'2020-09-04' AS Date))
SET IDENTITY_INSERT [dbo].[AuthorsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[BookTable] ON 

INSERT [dbo].[BookTable] ([PersonalNumberBook], [NameBook], [InstanceBook], [pnPublishingHouse], [DatePublishingBook], [QuantityPublishingBook], [pnCategory], [pnGo], [pnCash], [LikeBook], [DislikeBook], [pnAuthor], [pnImage]) VALUES (1, N'Calling Myself', 9365, 1, CAST(N'2003-04-24' AS Date), 10000, 1, 1, 1, 303453, 1718, 1, 2)
INSERT [dbo].[BookTable] ([PersonalNumberBook], [NameBook], [InstanceBook], [pnPublishingHouse], [DatePublishingBook], [QuantityPublishingBook], [pnCategory], [pnGo], [pnCash], [LikeBook], [DislikeBook], [pnAuthor], [pnImage]) VALUES (2, N'Songs Of My Nightmares', 562379, 2, CAST(N'2003-04-25' AS Date), 15000, 2, 2, 2, 934963, 5321, 2, 3)
INSERT [dbo].[BookTable] ([PersonalNumberBook], [NameBook], [InstanceBook], [pnPublishingHouse], [DatePublishingBook], [QuantityPublishingBook], [pnCategory], [pnGo], [pnCash], [LikeBook], [DislikeBook], [pnAuthor], [pnImage]) VALUES (3, N'Shelter In The Sun', 6057123, 3, CAST(N'2003-04-26' AS Date), 20000, 3, 3, 1, 240873, 5438, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[BookTable] OFF
GO
SET IDENTITY_INSERT [dbo].[CashTable] ON 

INSERT [dbo].[CashTable] ([PersonalNumberCash], [TitleCash]) VALUES (1, N'Да')
INSERT [dbo].[CashTable] ([PersonalNumberCash], [TitleCash]) VALUES (2, N'Нет')
SET IDENTITY_INSERT [dbo].[CashTable] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryTable] ON 

INSERT [dbo].[CategoryTable] ([PersonalNumberCategory], [TitleCategory]) VALUES (1, N'Роман')
INSERT [dbo].[CategoryTable] ([PersonalNumberCategory], [TitleCategory]) VALUES (2, N'Боевик')
INSERT [dbo].[CategoryTable] ([PersonalNumberCategory], [TitleCategory]) VALUES (3, N'Триллер')
SET IDENTITY_INSERT [dbo].[CategoryTable] OFF
GO
SET IDENTITY_INSERT [dbo].[GoTable] ON 

INSERT [dbo].[GoTable] ([PersonalNumberGo], [TitleGo]) VALUES (1, N'Купленна')
INSERT [dbo].[GoTable] ([PersonalNumberGo], [TitleGo]) VALUES (2, N'Подарена')
INSERT [dbo].[GoTable] ([PersonalNumberGo], [TitleGo]) VALUES (3, N'Найдена')
SET IDENTITY_INSERT [dbo].[GoTable] OFF
GO
INSERT [dbo].[HistoryTable] ([pnTiket], [pnBook]) VALUES (123456789, 100)
INSERT [dbo].[HistoryTable] ([pnTiket], [pnBook]) VALUES (123456790, 99)
INSERT [dbo].[HistoryTable] ([pnTiket], [pnBook]) VALUES (123456791, 98)
GO
SET IDENTITY_INSERT [dbo].[PublishingHouseTable] ON 

INSERT [dbo].[PublishingHouseTable] ([PersonalNumberPublishingHouse], [TitlePublishingHouse]) VALUES (1, N'Школа М.В. Ломоносов')
INSERT [dbo].[PublishingHouseTable] ([PersonalNumberPublishingHouse], [TitlePublishingHouse]) VALUES (2, N'Газета ТГ')
INSERT [dbo].[PublishingHouseTable] ([PersonalNumberPublishingHouse], [TitlePublishingHouse]) VALUES (3, N'Город Черёмуша')
SET IDENTITY_INSERT [dbo].[PublishingHouseTable] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleTable] ON 

INSERT [dbo].[RoleTable] ([PersonalnumberRole], [NameRole]) VALUES (1, N'пользователь')
INSERT [dbo].[RoleTable] ([PersonalnumberRole], [NameRole]) VALUES (2, N'администратор')
SET IDENTITY_INSERT [dbo].[RoleTable] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketTable] ON 

INSERT [dbo].[TicketTable] ([PersonalNumberTicket], [DateStartTicket], [DateEndTicket]) VALUES (123456789, CAST(N'2010-10-10' AS Date), CAST(N'2011-01-10' AS Date))
INSERT [dbo].[TicketTable] ([PersonalNumberTicket], [DateStartTicket], [DateEndTicket]) VALUES (123456790, CAST(N'2010-10-11' AS Date), CAST(N'2011-01-11' AS Date))
INSERT [dbo].[TicketTable] ([PersonalNumberTicket], [DateStartTicket], [DateEndTicket]) VALUES (123456791, CAST(N'2010-10-12' AS Date), CAST(N'2011-01-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TicketTable] OFF
GO
INSERT [dbo].[TiketBookTable] ([pnTicket], [pnBook]) VALUES (123456789, 1)
INSERT [dbo].[TiketBookTable] ([pnTicket], [pnBook]) VALUES (123456790, 2)
INSERT [dbo].[TiketBookTable] ([pnTicket], [pnBook]) VALUES (123456791, 3)
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([PersonalNumberUser], [SurnameUser], [NameUser], [MiddlenameUser], [pnTicket], [AddressUser], [PhoneUser], [UserImage], [LoginUser], [PasswordUser], [pnRole]) VALUES (1, N'Бессонов', N'Сергей', N'Егорович', 123456789, N'426604, г. Ижевск, ул. Дачная, 39, оф. 45', N'74953495237', NULL, N'antonina5@gmail.com', N'0qFAf17285Z8z7g8u69295n3', 1)
INSERT [dbo].[UserTable] ([PersonalNumberUser], [SurnameUser], [NameUser], [MiddlenameUser], [pnTicket], [AddressUser], [PhoneUser], [UserImage], [LoginUser], [PasswordUser], [pnRole]) VALUES (2, N'Горелов', N'Андрей', N'Артёмович', 123456790, N'443911, г. Самара, ул. Московская, 10, оф. 93', N'74952580621', NULL, N'lavrentii55@yahoo.com', N'c2AW7GW74a6246783L6jT3Iz', 1)
INSERT [dbo].[UserTable] ([PersonalNumberUser], [SurnameUser], [NameUser], [MiddlenameUser], [pnTicket], [AddressUser], [PhoneUser], [UserImage], [LoginUser], [PasswordUser], [pnRole]) VALUES (3, N'Новикова', N'Анастасия', N'Елисеевна', 123456791, N'443946, г. Самара, ул. Первомайская, 37, оф. 59', N'74957703829', NULL, N'viktor_volkov80@yahoo.com', N'Yw2O47as9fOcvp79Af45LRhi', 1)
GO
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_AuthorsTable] FOREIGN KEY([pnAuthor])
REFERENCES [dbo].[AuthorsTable] ([PersonalNumberAuthor])
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_AuthorsTable]
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_CashTable] FOREIGN KEY([pnCash])
REFERENCES [dbo].[CashTable] ([PersonalNumberCash])
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_CashTable]
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_CategoryTable] FOREIGN KEY([pnCategory])
REFERENCES [dbo].[CategoryTable] ([PersonalNumberCategory])
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_CategoryTable]
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_GoTable] FOREIGN KEY([pnGo])
REFERENCES [dbo].[GoTable] ([PersonalNumberGo])
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_GoTable]
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_ImagebookTable] FOREIGN KEY([pnImage])
REFERENCES [dbo].[ImagebookTable] ([PersonalnumberImage])
ON UPDATE CASCADE
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_ImagebookTable]
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_PublishingHouseTable] FOREIGN KEY([pnPublishingHouse])
REFERENCES [dbo].[PublishingHouseTable] ([PersonalNumberPublishingHouse])
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_PublishingHouseTable]
GO
ALTER TABLE [dbo].[HistoryTable]  WITH CHECK ADD  CONSTRAINT [FK_HistoryTable_BookTable] FOREIGN KEY([pnBook])
REFERENCES [dbo].[BookTable] ([PersonalNumberBook])
GO
ALTER TABLE [dbo].[HistoryTable] CHECK CONSTRAINT [FK_HistoryTable_BookTable]
GO
ALTER TABLE [dbo].[HistoryTable]  WITH CHECK ADD  CONSTRAINT [FK_HistoryTable_TicketTable] FOREIGN KEY([pnTiket])
REFERENCES [dbo].[TicketTable] ([PersonalNumberTicket])
GO
ALTER TABLE [dbo].[HistoryTable] CHECK CONSTRAINT [FK_HistoryTable_TicketTable]
GO
ALTER TABLE [dbo].[TiketBookTable]  WITH CHECK ADD  CONSTRAINT [FK_TiketBookTable_BookTable] FOREIGN KEY([pnBook])
REFERENCES [dbo].[BookTable] ([PersonalNumberBook])
GO
ALTER TABLE [dbo].[TiketBookTable] CHECK CONSTRAINT [FK_TiketBookTable_BookTable]
GO
ALTER TABLE [dbo].[TiketBookTable]  WITH CHECK ADD  CONSTRAINT [FK_TiketBookTable_TicketTable] FOREIGN KEY([pnTicket])
REFERENCES [dbo].[TicketTable] ([PersonalNumberTicket])
GO
ALTER TABLE [dbo].[TiketBookTable] CHECK CONSTRAINT [FK_TiketBookTable_TicketTable]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_RoleTable] FOREIGN KEY([pnRole])
REFERENCES [dbo].[RoleTable] ([PersonalnumberRole])
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_RoleTable]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_TicketTable] FOREIGN KEY([pnTicket])
REFERENCES [dbo].[TicketTable] ([PersonalNumberTicket])
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_TicketTable]
GO
USE [master]
GO
